{% load static %}
<footer class="footer">
    <div class="divider"></div>
  <div class="footer-content">
    <!-- Logo Section -->
    <div class="footer-logo">
      <img src="{% static 'picture/logo.jpg' %}" alt="PALETTA Logo" style="width: 100px;">
      <p>&copy; FILMBRIGHT LTD. 2025</p>
    </div>

    <!-- Company Section -->
    <div class="footer-column">
      <h4>Company</h4>
      <ul>
        <li><a href="{% url 'about_us' %}">About us</a></li>
        <li><a href="{% url 'contact_us' %}">Contact us</a></li>
      </ul>
    </div>

    <!-- Support Section -->
    <div class="footer-column">
      <h4>Support</h4>
      <ul>
        <li><a href="{% url 'q_and_a' %}">Help & Support</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Privacy</a></li>
      </ul>
    </div>

    <!-- Social Media Section -->
    <div class="footer-column">
      <h4>Find us</h4>
      <div class="social-icon" >
        <a href="https://www.instagram.com/filmbright/" >
            <svg data-name="Layer 1" id="Layer_1" viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#80B824;}</style></defs><title/>
                <path class="cls-1" d="M83,23a22,22,0,0,1,22,22V83a22,22,0,0,1-22,22H45A22,22,0,0,1,23,83V45A22,22,0,0,1,45,23H83m0-8H45A30.09,30.09,0,0,0,15,45V83a30.09,30.09,0,0,0,30,30H83a30.09,30.09,0,0,0,30-30V45A30.09,30.09,0,0,0,83,15Z"/>
                <path class="cls-1" d="M90.14,32a5.73,5.73,0,1,0,5.73,5.73A5.73,5.73,0,0,0,90.14,32Z"/>
                <path class="cls-1" d="M64.27,46.47A17.68,17.68,0,1,1,46.6,64.14,17.7,17.7,0,0,1,64.27,46.47m0-8A25.68,25.68,0,1,0,90,64.14,25.68,25.68,0,0,0,64.27,38.47Z"/>
            </svg>
        </a>
      </div>
    </div>
  </div>
  
</footer>