[Unit]
Description=Paletta Django Application
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Paletta/paletta_code
Environment="PYTHONPATH=/home/ubuntu/Paletta"
Environment="DJANGO_SETTINGS_MODULE=paletta_project.settings_production"
Environment="AWS_STORAGE_ENABLED=True"
Environment="AWS_REGION=eu-west-2"
Environment="AWS_STORAGE_BUCKET_NAME=paletta-videos"
Environment="AWS_STATIC_BUCKET_NAME=paletta-static"
ExecStart=/home/ubuntu/Paletta/.venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/home/ubuntu/Paletta/paletta_code.sock \
    paletta_project.paletta_core.wsgi:application

[Install]
WantedBy=multi-user.target