{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Paletta - About Us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Styles -->
    <link rel="icon" type="image/x-icon" href="{% static 'picture/logo.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <!-- CSS Reusables -->
    <link rel="stylesheet" href="{% static 'css/header_reusable.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer_reusable.css' %}">
    <link rel="stylesheet" href="{% static 'css/button_reusable.css' %}">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/title_section_footer.css' %}">

    <!-- JS -->

</head>
<body>
{% include "html_reusables/header_reusable.html" %}

  <div class="title-section">
      <div class="image-container">
          <img src="{% static 'picture/ABOUT US PAGE BANNER.png' %}">
          <div class="overlay">About Us</div>
      </div>
      
  </div>

  <div class="content">
      <h1>Welcome to Paletta</h1>
      <h2>Your Gateway to Authentic Educational Content</h2>
    <div class="introduction">
            <div>
            <h3>Purpose-Built for Education</h3>
                <p>
                    Paletta is a premium video library designed specifically for educational content. We source authentic footage directly from top universities and colleges to ensure your projects reflect real academic environments.
                </p>

            </div>
            <div>
            <h3>Authenticity Over Generic Stock</h3>
                <p>
                    We go beyond standard stock footage. Our clips capture the true spirit of academic life and subject-specific visuals that generic libraries simply can't offer.
                </p>
            </div>
            <div>
            <h3>Curated for Creators</h3>
                <p>
                    Whether you're an educator, marketer, or content creator, our library gives you access to high-quality, relevant footage tailored to your needs — by subject, location, or style.

                </p>
            </div>
            <div>
            <h3>Visuals with Impact</h3>
                <p>
                    Every clip is selected for its clarity, accuracy, and storytelling power — helping your work connect with purpose, professionalism, and originality.
                </p>
            </div>

    </div>
     
  </div>

{% include "html_reusables/footer_reusable.html" %}
</body>
</html>
