{% load static %}
{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% if current_library %}{{ current_library.name }}{% else %}Paletta{% endif %} - My Collection</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="clip-store-url" content="{% url 'library_clip_store' library_slug='all' %}">
  <!-- Styles -->
  <link rel="icon" type="image/x-icon" href="{% static 'picture/logo.ico' %}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <!-- CSS Reusables -->
  <link rel="stylesheet" href="{% static 'css/footer_reusable.css' %}">
  <link rel="stylesheet" href="{% static 'css/header_reusable.css' %}">
  <link rel="stylesheet" href="{% static 'css/button_reusable.css' %}">
  <link rel="stylesheet" href="{% static 'css/layout.css' %}">
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/collection.css' %}">
  <!-- JS -->
  <script src="{% static 'js/collection.js' %}" defer></script>
</head>

<body>
{% include "html_reusables/header_reusable.html" %}

<div class="layout">
<!-- sidebar -->
<aside class="sidebar">
  <nav>
    <ul>
        <li><a href="{% url 'profile' %}">My profile</a></li>
        <li><a href="{% url 'collection' %}" class="active">My collection</a></li>
        <li><a href="{% url 'cart' %}">My cart</a></li>
        <li><a href="{% url 'orders_list' %}">My orders</a></li>
    </ul>
  </nav>
</aside>


<main class="content">
  <h1>My Collection</h1>
  
  <!-- The clips-grid will be populated by JavaScript -->
  <div class="clips-grid">
    <!-- Empty initially, content will be dynamically loaded from localStorage -->
  </div>
</main>
</div>

{% csrf_token %}
{% include "html_reusables/footer_reusable.html" %}
</body>
</html>

{% else %}
{% include "html_reusables/unauthorised_reusable.html" %}
{% endif %}