/* password verification message */
#message {
  display: none;
  background: #fff0f0;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message h3 {
  color: #000;
  font-size: 16px;
}

#message p {
  padding: 10px 35px;
  font-size: 14px;
}

.valid {
  color: #80B824;
}

.valid::before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: red;
}

.invalid::before {
  position: relative;
  left: -35px;
  content: "✖";
}
