body {
    font-family: 'Montserrat';
    margin-top: 10vh;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 10vh);
}

.sidebar {
    width: 200px;
    background-color: #fff;
    height: 100vh;
    box-sizing: border-box;
    border-right:1px solid #ddd;
    padding-top: 5vh;
    padding-left: 2vh;
    padding-right: 2vh;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    margin: 0;
}
.sidebar ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}
.sidebar ul li a:hover,
.sidebar ul li a:focus {
    background-color: #80B824;
    color: #fff;
}
.sidebar ul li a.active {
    background-color: #80B824;
    color: #fff;
}
.main-content {
    flex: 1;
    padding: 5vh;
    overflow-y: auto;
    max-width: 300vh;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}


.upload-history-container {
    max-width: 1400px;
    width: 90%;
    margin: 20px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    flex-grow: 1;
}

.history-item {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 25px;
    background-color: #f9f9f9;
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    margin-bottom: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.history-item:not(:last-child) {
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;
    margin-bottom: 15px;
}

.history-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

.history-title {
    color: #333;
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-size: 1.8em;
}

.history-list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

.video-thumbnail {
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}

.video-thumbnail .img {
    object-fit: cover;
}

.video-details {
    flex: 1;
    min-width: 0;
    padding-left: 5vh;
}

.video-meta {
    margin-top: 10px;
}

.delete-btn {
    position: absolute;
    right: 25px;
    bottom: 25px;
    background-color: #80B824;
    padding: 8px 20px;
}

.delete-btn:hover {
    background-color: #ff3333;
}

.main-content {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
    max-width: 800px;
    margin: 0 auto;
}


/*empty*/
.no-videos {
    text-align: center;
    padding: 50px 20px;
}